.avatar-user {
  border-radius: 50% !important;
}

.box-row {
  padding: 16px;
  border-top: 1px solid #0000001a;
}

.heading-text {
  font-weight: 500;
}

a:link {
  text-decoration: none;
}

.text-small {
  font-size: 12px;
}