<div class="center">
  <section id="logo"
    class="mb-4">
    <i class="fa-brands fa-github me-2"></i>
    <span class="title">Profile Explorer</span>
  </section>
  <section id="search">
    <form class="searchBoxForm">
      <input type="search"
        name="searchtextInput"
        class="searchBox roundedBox"
        [(ngModel)]="searchText"
        (keydown.enter)="submitSearch()" />
      <button type="button"
        class="btn btn-link"
        id="submit-btn"
        tooltip="search"
        (click)="submitSearch()">
        <i class="fas fa-search fa-lg"></i>
      </button>
    </form>
  </section>
</div>